@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="arboretum">

    <div class="intro">6 Compamies & Organisations</div>
</div>
<span> &nbsp; &nbsp; &nbsp;</span>

<div class="row">
    <div class="col-sm-6">

        <img src="~/images/Amazon_1.png" alt="show" style="width:100%;">
        <div class="text-block">
            <h4>Amazon:</h4> 
            <p>Amazon.com, Inc., doing business as Amazon,<br> 
            is an American electronic commerce and<br> 
            cloud computing company based in Seattle, Washington,<br>
            that was founded by Jeff Bezos on July 5, 1994.
            </p>
        </div>

    </div>


    <div class="col-sm-6">
        <img src="~/images//CSIRO_1.png" alt="show" style="width:100%;">
        <div class="text-block">
            <h4> CSIRO: </h4>
            <p>
                The Commonwealth Scientific and Industrial Research Organisation <br>
                is a agency responsible for scientific research, improve the economic <br>
                and social performance of industry for the benefit of the community.
            </p>
        </div>

        </div>
    </div>

    <span> &nbsp; &nbsp; &nbsp;</span>
    <div class="row">
        <div class="col-sm-12">
            <div class="arboretum3">
                <div class="text-block">
                    <h4> Google: </h4>
                    <p>
                        Google LLC is an American multinational technology company that specializes <br>
                        in Internet-related services and products, which include online advertising technologies, <br>
                        search engine, cloud computing, software, and hardware.
                    </p>
                </div>
            </div>

            </div>
        </div>
    <span> &nbsp; &nbsp; &nbsp;</span>

    <div class="col-sm-12"></div>

    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/IBM_1.png" alt="show" style="width:100%;">
            <div class="text-block">
                <h4>IBM:</h4> 
                <p>International Business Machines Corporation is an American <br>
                multinational technology company</p>
             </div>
         </div>

        <div class="col-sm-6">
            <img src="~/images/DoI_1.jpg" alt="show" style="width:100%;">
            <div class="text-block">
                <h4>DoIIS:</h4>
                <p>The Department of Industry, Innovation and Science is a department of the Australian Government <br>
                responsible for consolidating the Government’s efforts to drive economic growth.
             </div>
            </div>
        </div>

    <span> &nbsp; &nbsp; &nbsp;</span>
    <div class="row">
        <div class="col-sm-12">
            <div class="arboretum4">
                <div class="text-block">
                    <h4>Microsoft:</h4>
                    <p>
                        Microsoft Corporation is an American multinational technology company develops,<br>
                        manufactures, licenses, supports and sells computer software, consumer electronics,<br>
                        personal computers.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    <span> &nbsp; &nbsp; &nbsp;</span>

    <div class="col-sm-12"></div>



    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>


