@{
    ViewData["Title"] = "Contact";
}


<div class="arboretum">
    <div class="intro">Thanks For browsing! It is hard to do so.</div>
</div>

      <h3>  Reference list :<br></h3>
      <h4>
          <a href=" https://maps.google.com/">Google maps For Six location</a> <br>
          <a href=" https://www.ibm.com/au-en/industries/manufacturing">IBM</a> <br>
          <a href=" https://en.wikipedia.org/wiki/Industry_4.0 "> Wikipedia</a> <br>
          <a href=" https://www.forbes.com/sites/bernardmarr/2016/06/20/what-everyone-must-know-about-industry-4-0/#6a2b954c795f "> Forbes</a> <br>
          <a href="  https://www.einfochips.com/blog/top-industry-4-0-trends-watch-2018/"> Infochips</a> <br>
          <a href=" https://www.industry.gov.au/"> Department of Industry, Innovation and Science</a> <br>
          The lastic grid:<br>
          <a href="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.V3J3dvm3WLBlFB_jMlCdeAAAAA%26pid%3D15.1&f=1">https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.V3J3dvm3WLBlFB_jMlCdeAAAAA%26pid%3D15.1&f=1</a> <br>
          <a href=" https://fontmeme.com/images/IBM-Logo.jpg">https://fontmeme.com/images/IBM-Logo.jpg</a> <br>
          <a href=" https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.L1El3jGT2iUQcFMHRcXyDgHaHa%26pid%3D15.1&f=1">https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.L1El3jGT2iUQcFMHRcXyDgHaHa%26pid%3D15.1&f=1</a> <br>
          <a href="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fg-ec2.images-amazon.com%2Fimages%2FG%2F01%2Fsocial%2Fapi-share%2Famazon_logo_500500.png&f=1">  https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fg-ec2.images-amazon.com%2Fimages%2FG%2F01%2Fsocial%2Fapi-share%2Famazon_logo_500500.png&f=1</a> <br>
          <a href="http://getwallpapers.com/collection/cool-black-wallpaper-background"> Banner Images</a> <br>
          

      </h4>





      <div class="arboretum2">
          <div class="outro">
              If you have any Question, Please
              <strong>E-mail me :</strong> <a href="mailto:j786389744@gmail.com">J786389744@gmail.com</a><br>
              Name:Zach Zou. ID:3169974
          </div>
      </div>







    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>
